.navigation-bar{
    display: flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index: 300;
    width: 100%;
    background: black;
    padding: 0.25rem 0;

    button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        &:first-child{
            margin-left: 1rem
        }
        &:last-child{
            margin-right: 1rem
        }
    }

    form {
        width: 40%;
        margin: 0;
    }

    input {
        font-family: callunaregular, Arial;
        padding: 8px 0 8px 8px;
        font-size: 1rem;
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        outline: 0;
        margin: 10px;
        width: 100%;
    }
}