.movie-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    align-items: top;
    margin: 1rem 0;
}

.movie-info-header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 4rem;
    h1{
        margin: 0;
    }
}

.error-msg{
    height: 100%;
    vertical-align: middle;
    padding: 20%;
    text-align: center;
}