<section class="container">
    <section *ngIf="(this.movie$ | async) as movie; else error">
        <section class="movie-detail">
            <section class="movie-poster">
                <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/{{movie.poster_path}}" />
            </section>
            <section class="movie-info">
                <div class="movie-info-header">
                    <h1>{{movie.title}}</h1>
                    <app-add-favorite-movie-btn [movie]="movie"></app-add-favorite-movie-btn>
                </div>
                <p><label>Release date: </label>{{movie.release_date | date:'mediumDate'}}</p>
                <p><label>Genres: </label>{{movie.genresNames}}</p>
                <p><label>Average voting: </label>{{movie.vote_average | number: '1.0-1'}}</p>
                <p>{{movie.overview}}</p>
            </section>
            
        </section>
    </section>
</section>

<ng-template #error>
    Something wrong, can not display movie detail!
</ng-template>