.load-more {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 1rem;
    z-index: 200;
}

.to-top-btn {
    cursor: pointer;
    margin-left:1rem;
    opacity: 0;
    background: black;
    border: 1px solid white;
    padding: 0.5rem;
    color: lightpink;
    &:hover{
        color: white;
    }
}
  
.to-top-btn-show {
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
}