/* Add application styles & imports to this file! */
html {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    color: lightpink
}

a {
    all: unset;
}

h1{
    font-size: 2em;
}

button {
    text-align: center;
    padding: 0.75rem;
    // background: brown;
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    text-align: center;
    color: white;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
        background-position: right center; /* change the direction of the change here */
        text-decoration: none;
    }
}

.container{
    padding: 1rem
}